@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using HospitalManagementSystem.Application.Models;
@model IEnumerable<DepartmentDTO>


    <form method="get" asp-action="Create">
        <fieldset>
            <legend>Department</legend>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name" />
            </div>
            <input type="submit" value="Create" class="btn btn-primary" />
        </fieldset>
    </form>
<table>
    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    @foreach (var dept in Model)
    {
        <tr>
            <td>@dept.Id</td>
            <td>@dept.Name</td>
            <td><a href="/Department/Details/@dept.Id" class="btn btn-info">Details</a></td>
        </tr>
    }
</table>
<style>
table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>